{{> meta }}

<title>Котики</title>
<meta name="description" content="На этой странице я выложил избранные фото моих котов.">

{{> header }}


<h2>Всевозможные коты</h2>
<picture>
    <source srcset="/s/cat-photos/cat1.webp" type="image/webp">
    <img src="/s/cat-photos/cat1.jpg" title="Коты спят" alt="Два кота спят">
</picture>

<picture>
    <source srcset="/s/cat-photos/cat2.webp" type="image/webp">
    <img src="/s/cat-photos/cat2.jpg" title="Очень толстый Леша" alt="Толстый кот лежит на полу">
</picture>

<picture>
    <source srcset="/s/cat-photos/cat3.webp" type="image/webp">
    <img src="/s/cat-photos/cat3.jpg" title="Все еще очень толстый Леша (спит)" alt="Толстый кот спит">
</picture>

<picture>
    <source srcset="/s/cat-photos/cat4.webp" type="image/webp">
    <img src="/s/cat-photos/cat4.jpg" title="Коты спят в обнимку" alt="Коты спят в обнимку">
</picture>

<picture>
    <source srcset="/s/cat-photos/cat5.webp" type="image/webp">
    <img src="/s/cat-photos/cat5.jpg" title="Кошка напугана ведром" alt="Кошка стоит на задних лапах">
</picture>