{{> meta }}

<title>Oh no</title>
<p>Упс, что-то пошло не так!</p>
<p>Возможно, страничка {{ path }} не нашлась.</p>
<p>А может, все дело в неправильном HTTP методе!</p>
<p>Советую переосмыслить свои действия!</p>