<header>
    <nav>
        <menu>
            <li>
                <h1 class="sitename"><a href="/">finkrer.wtf</a></h1>
                <aside lang="en">Fully armed and operational</aside>
            <li>
                <a class="link1" href="/cat-photos/" title="Без регистрации и СМС">
                Смотреть фото котов</a>
        </menu>
    </nav>
</header>